body {
    font-family: Arial, sans-serif;
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    color: #fff;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    background-color: #e91e63;
    color: white;
    border: none;
    border-radius: 8px;
    transition: 0.3s;
}

button:hover {
    background-color: #d81b60;
}

.lyrics {
    margin-top: 30px;
    text-align: center;
    font-size: 24px;
    line-height: 1.5;
    width: 80%;
    max-width: 600px;
    min-height: 200px;
    border-top: 2px solid #e91e63;
    padding-top: 20px;
    white-space: pre-line;
}
